<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.pogodynka" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pogodynka</name>
    <description>Pogodynka w Cordovie</description>
    <author email="wm51142@zut.edu.pl">
        Milan Wilemski
    </author>
    <platform name="electron">
        <icon src="res/electron/cloud-sun.png" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>

    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
