#form {
    width: 500px;
    background: black;
    border: 1px solid red;
    padding: 20px;
    color: white;
}
#searchText {
    width: 95%;
    height: 35px;
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px 0px 5px 15px;
    margin: 5px;
}
#add {
    display: grid; 
    grid-template-columns: 40% 40% 20%; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . .";   
}
#add .addGroup {
    display: inline;
}
#add .addGroup .topLabel {
    display:block;
}
.editGroup {
    display: inline;
}