#map {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#rasterMap {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#table canvas {
    margin: 5px;
}
.left { 
    float: left;
}
#targetPuzzles {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    float: left;
    margin-left: 50px;
    line-height: 0;
}
#targetPuzzles canvas {
    margin: 0;
    line-height: 0;
    padding:0;
}